[Unit]
Description=Hourly check for duplicity-backup unit failure

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true

[Install]
WantedBy=timers.target
