- /bin
- /boot
- /dev
+ /efi/loader/loader.conf
- /efi
+ /etc
- /home/user/.cache
- /home/user/.local/share/Trash
- /home/user/.local/share/Steam
- /home/user/Downloads
+ /home
- /lib
- /lib64
- /media
- /mnt
- /opt
- /proc
- /root/.cache
+ /root
- /run
- /sbin
+ /srv
- /sys
- /tmp
+ /usr/local
- /usr
- /var/lib/systemd/coredump
- /var/lib/libvirt
- /var/lib/docker
- /var/log
- /var/cache
- /var/run
- /var/tmp
+ /var
- **
