- /bin
- /boot
- /dev
+ /efi/loader/loader.conf
- /efi
+ /etc
- /home/user/.cache
- /home/user/.go
+ /home/user/.cargo/.crates2.json
+ /home/user/.cargo/.crates.toml
- /home/user/.cargo
+ /home/user/.rustup/settings.toml
- /home/user/.rustup
- /home/user/.android
+ /home/user/.gradle/gradle.properties
- /home/user/.gradle
- /home/user/.jdks
- /home/user/.m2
- /home/user/.wine
- /home/user/.nuget
- /home/user/.local/share/NuGet
- /home/user/.local/share/Trash
- /home/user/.local/share/Steam
- /home/user/Downloads
+ /home
- /lib
- /lib64
- /media
- /mnt
- /opt
- /proc
- /root/.cache
+ /root
- /run
- /sbin
+ /srv
- /sys
- /tmp
+ /usr/local
- /usr
- /var/lib/systemd/coredump
- /var/lib/libvirt
- /var/lib/docker
- /var/log
- /var/cache
- /var/run
- /var/tmp
+ /var
- **
