- /bin
- /boot
- /dev
+ /efi/loader/loader.conf
- /efi
+ /etc
- /home/${USER}/.cache
- /home/${USER}/.go
+ /home/${USER}/.cargo/.crates2.json
+ /home/${USER}/.cargo/.crates.toml
- /home/${USER}/.cargo
+ /home/${USER}/.rustup/settings.toml
- /home/${USER}/.rustup
- /home/${USER}/.android
+ /home/${USER}/.gradle/gradle.properties
- /home/${USER}/.gradle
- /home/${USER}/.jdks
- /home/${USER}/.m2
- /home/${USER}/.wine
- /home/${USER}/.nuget
- /home/${USER}/.local/share/NuGet
- /home/${USER}/.local/share/Trash
- /home/${USER}/.local/share/Steam
- /home/${USER}/Downloads
+ /home
- /lib
- /lib64
- /media
- /mnt
- /opt
- /proc
- /root/.cache
+ /root
- /run
- /sbin
+ /srv
- /sys
- /tmp
+ /usr/local
- /usr
- /var/lib/systemd/coredump
- /var/lib/libvirt
- /var/lib/docker
- /var/log
- /var/cache
- /var/run
- /var/tmp
+ /var
- **
